{% extends "::vueMereCoteVisiteur.html.twig" %} {#La vue fille 1 hérite de la vue mère #}


{% block menuPropreAuBundle %} 

  



{% endblock %}


{% block contenuCentral %} 

<h1> Les licenses professionnelles ! </h1>           
                      
                      {# message d'accueil #}
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis aliquet interdum. Fusce rutrum, diam vitae semper placerat,
ligula mauris laoreet nisl, eget viverra ex metus sit amet risus. Sed fringilla urna non viverra tristique. Integer aliquam magna quis ante laoreet,
vel facilisis turpis laoreet. Phasellus vulputate ante vel est viverra lacinia. Integer hendrerit odio tellus, a pellentesque justo lobortis a.
Praesent et hendrerit sem. Phasellus ullamcorper posuere velit vitae egestas. Maecenas a felis tincidunt, aliquam elit sed, porta nibh. Donec tellus ligula,
faucibus quis nunc a, vulputate sollicitudin lectus.</p>

<p>Pellentesque in nunc sit amet risus pellentesque efficitur at vitae leo. Nullam non sollicitudin nunc, et condimentum enim. 
Ut gravida fermentum sapien in pellentesque. Aliquam rutrum eu turpis ac fringilla. Phasellus dignissim eget sapien viverra vestibulum.
Sed consectetur nisl tellus, et dictum sapien accumsan ac. Morbi egestas purus est, in tristique velit aliquet sed. Maecenas metus mi, 
aliquam interdum erat non, mollis faucibus lorem. Integer dolor risus, iaculis et sodales sed, convallis vulputate nibh. Pellentesque in pellentesque felis.
Sed hendrerit arcu lacus. Proin semper fringilla dui a ultrices. Duis ex arcu, finibus id commodo non, luctus quis turpis.
Maecenas eleifend faucibus magna eu ornare. Aliquam mollis, neque vitae commodo luctus, lorem magna gravida nisl,
ac aliquet purus lectus a orci. Donec eu magna vitae ligula semper lobortis.</p>
                    
                 


{% endblock %}