{% extends "::vueMereCoteAdmin.html.twig" %} {#La vue fille 1 hérite de la vue mère #}


{% block menuPropreAuBundle %} 

  



{% endblock %}


{% block contenuCentral %} 

            
                      
                      {# Code pour afficher la liste des livres #}
<h2> Informations</h1>
                      <p>                  
                    <a href="{{ path('poursuite_etudes_formations_informationsBulletinPEAdmin') }}">
                        <button type="button" class="btn btn-primary"> Bulletin PE  </button>
                    </a>
                    <a href="#">
                        <button type="button" class="btn btn-primary"> Candidater </button>
                    </a>
                    <a href="#">
                        <button type="button" class="btn btn-primary"> Descriptif parcours S4 </button>
                    </a>
                    </p>

                    
                 


{% endblock %}