{% extends "::vueMereCoteAdmin.html.twig" %} {#La vue fille 1 hérite de la vue mère #}


{% block menuPropreAuBundle %} 

  



{% endblock %}


{% block contenuCentral %} 

            
                      
                      {# Code pour afficher la liste des livres #}
<h2> Licences Professionnels</h1>
                    <a href="{{ path('poursuite_etudes_formations_ajouterLicenceProAdmin') }}">
                        <button type="button" class="btn btn-primary"> Ajouter </button>
                    </a>
                    <a href="#">
                        <button type="button" class="btn btn-primary"> Modifier </button>
                    </a>
                    <a href="#">
                        <button type="button" class="btn btn-primary"> Supprimer </button>
                    </a>

<p>Pellentesque in nunc sit amet risus pellentesque efficitur at vitae leo. Nullam non sollicitudin nunc, et condimentum enim. 
Ut gravida fermentum sapien in pellentesque. Aliquam rutrum eu turpis ac fringilla. Phasellus dignissim eget sapien viverra vestibulum.
Sed consectetur nisl tellus, et dictum sapien accumsan ac. Morbi egestas purus est, in tristique velit aliquet sed. Maecenas metus mi, 
aliquam interdum erat non, mollis faucibus lorem. Integer dolor risus, iaculis et sodales sed, convallis vulputate nibh. Pellentesque in pellentesque felis.
Sed hendrerit arcu lacus. Proin semper fringilla dui a ultrices. Duis ex arcu, finibus id commodo non, luctus quis turpis.
Maecenas eleifend faucibus magna eu ornare. Aliquam mollis, neque vitae commodo luctus, lorem magna gravida nisl,
ac aliquet purus lectus a orci. Donec eu magna vitae ligula semper lobortis.</p>

                    
                 


{% endblock %}