{% extends "::vueMereCoteAdmin.html.twig" %} {#La vue fille 1 hérite de la vue mère #}


{% block menuPropreAuBundle %} 

  



{% endblock %}


{% block contenuCentral %} 

            
                      
                      {# Code pour afficher la liste des livres #}
<h2> Nouvelle Année</h1>
                      <script> 
                      verif1= false;
                      verif2= false;
                      function verif() {
                          if (verif1 && verif2) {
                            document.getElementById("soumettre").disabled=false;
                          }
                          
                        }
                      function desactiverFile() {
                          document.getElementById("fichier1").disabled="disabled";
                          document.getElementById("fichier2").disabled="disabled";
                      }
                      </script>
                      <p> 
                        <form enctype="multipart/form-data" action="https://projet-19-guillaume-serrano.c9users.io/testImportExcel.php" method="post">
                          
                          Sélectionner le fichier contenant les résultats de l'enquête : 
                          <p> </p>
                          <input name="resultatEnquete" id="fichier1"  type="file" onClick="verif1=true"  />
                          <p></p>
                          <br>
                          Sélectionner le fichier contenant le classement des poursuite d'études :
                          <p></p>
                          <input name="grilleMoyenne" id="fichier2" type="file" onClick="verif2=true" />
                          <p></p>
                          <br>
                          <input type="hidden" name="MAX_FILE_SIZE" value="1000000" />
                          
                          <input type="button" name="Valider" value="Valider" onClick="verif(); desactiverFile();" />
                          <p></p>
                          <br>
                          <br>
                          <br>
                          <input type="submit" id="soumettre" name="soumettre" value="Importer" disabled="disabled" />
                        </form>
                      </p>
                      
{% endblock %}