{% extends "::vueMereCoteAdmin.html.twig" %} {#La vue fille 1 hérite de la vue mère #}


{% block menuPropreAuBundle %} 

  



{% endblock %}


{% block contenuCentral %} 

            
                      
                      {# Code pour afficher la liste des livres #}
<h2> Statistiques</h1>


                    <a href="{{ path('poursuite_etudes_formations_tabEtudiantAdmin') }}">
                        <button type="button" class="btn btn-primary"> Tableau des étudiants </button>
                    </a>

{% endblock %}